@model P3.Models.AboutModel

@{
	ViewData["Title"] = Model.pageTitle;
}
<body class="blur-background">
	<h1>Welcome to the iSchool Website!</h1>
	<h3>@Model.title</h3>
	<section class="about">
		<p>@Model.description</p>
		<p>@Model.quote</p>
		<p>--@Model.quoteAuthor--</p>
	</section>
</body>